/* SCSS File - lower-third.1.scss */

body {
    background-color: transparent;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

.lt-style-one {
    align-self: flex-end;
    display: inherit;
    margin: 4vh 4vw;
    
    .graphic {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr min-content;
        max-width: 33vw;
        position: relative;
        text-align: center;
        overflow: hidden;
    }
    svg {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 5;
        path {
            fill: none;
            stroke: lightblue;
            stroke-linecap: round;
            stroke-width: .5vw;
        }
    }
    h1 {
        margin: 0;
        font-size: 2.5vw;
        padding: 1vh 3vw;
    }
    p {
        font-size: 1.5vw;
        margin: 0;
    }
    .subtitle {
        background-color: lightblue;
        padding: .25vw 0;
    }
}